include /usr/local/share/nano/*.nanorc
set tabsize 2
set tabstospaces
set trimblanks
unset backup
set constantshow
set linenumbers
set autoindent
set historylog
set nowrap
set smooth
set showcursor
set softwrap
set morespace
