include /usr/local/share/nano/*.nanorc
set constantshow
set historylog
set linenumbers
set nowrap
set smooth
set morespace
set tabsize 4
set tabstospaces
set autoindent
unset backup
set showcursor
set softwrap
set trimblanks
